body {
    background: url(background.png);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    padding: 1em;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding: 1em; 
}

div {
    text-align: center;
}

img {
    width: 60%;
}